/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
//======================================================================================================================


$debug_lines: false;
$night: false;//todo create night mode

//---------------------------------------------COLORS

//todo refactor remove this colors from all other spaces
$button-text-color: #0098ff;


$button-icon-color: #000000;
$button-icon-color-light:#cccccc;


$info-color: #0098ff;
$success-color: #00ff2b;//todo color
$error-color: #ff0023;//todo color

//---------------------------------------------SIZE