/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
//======================================================================================================================
@import 'config';




@mixin button($size) {

  display: inline-block;
  border: none;
  display: block;
  padding: 0 $size/4;
  margin: $size/4 auto;
  height: $size;
  line-height: $size;
  font-size: 8+$size/40*8;
  border-radius: 3px;
  background-color: $button-color;
  color: white;
  cursor: pointer;


  &:hover{

    background-color: darken($button-color,50);

  }


}




@mixin mini-button($size,$color){

  border: none;
  display: inline-block;
  margin: 2px;
  padding: 10px;
  font-weight: 600;
  width: $size;
  height: $size;
  font-size: ($size/26*21);
  border: 2px solid rgba(mix($color,#888888),0.5);
  border-radius: 3px;
  text-shadow: #000011;
  text-align: center;
  vertical-align: middle;
  background-color: rgba($color,0.5);
  color: invert($color);
  cursor: pointer;



  &:hover{
    background-color: rgba($color,0.65);
  }

}






