/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
//======================================================================================================================
@import 'config';




@mixin button-text($size) {

  display: inline-block;
  border: none;
  padding: 0 $size/4;
  margin: $size/4 auto;
  height: $size;
  line-height: $size;
  font-size: 8+$size/40*8;
  border-radius: 3px;
  background-color: $button-text-color;
  color: white;
  cursor: pointer;


  &:hover{

    background-color: lighten($button-text-color,13%);

  }


}




@mixin button-icon($size,$color){

  border: none;
  display: inline-block;
  margin: 2px;
  padding: 10px;
  font-weight: 600;
  width: $size;
  height: $size;
  font-size: ($size/26*21);
  border: 2px solid rgba(mix($color,#888888),0.5);
  border-radius: 3px;
  text-shadow: #000011;
  text-align: center;
  vertical-align: middle;
  background-color: rgba($color,0.5);
  color: invert($color);
  cursor: pointer;



  &:hover{
    background-color: rgba($color,0.65);
  }

}



@mixin fontAwesomeBefore($icon){

  &:before {

    font-family: FontAwesome;
    content: $icon;
    //display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

  }

}


