/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
//======================================================================================================================
@import 'config';
@import 'mixins';




hr {

  color: #777777;
  background-color: #777777;
  height: 1px;
}


/*
input, textarea {
    -moz-user-select: text;
}
*/



button{

  //margin: 4px;
  @include button-text(40px);
}


.button-icon{

  @include button-icon(26px, $button-icon-color);

}



table tr th{
  //padding-top: 30px;
  border-bottom: 2px solid rgba(200,200,200,0.3);
  background-color: rgba(200,200,200,0.2);
}


code {
  font-family: monospace;
  white-space: pre;
}