/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
//======================================================================================================================
@import 'config';
@import 'mixins';




hr {

  color: #777777;
  background-color: #777777;
  height: 1px;
}


/*
input, textarea {
    -moz-user-select: text;
}
*/



button{

  //margin: 4px;
  @include button-text(40px);
}

button.pale{
  background-color: $button-text-color-pale;//todo is it best solution?

  &:hover{

    background-color: lighten($button-text-color-pale,13%);

  }

}


.micro-button {

  @include button-text(40px);

  margin: 2px;
  font-weight: 600;
  font-size: 0.8em;
  background-color: rgba(0,0,0,0.5);

}


.load-percent/*todo maybe better name*/ {

  &:hover{

    background-color: rgba(0,0,0,0.5);

  }

}






.button-icon{

  @include button-icon(26px, $button-icon-color);

}




progress{


  display: inline-block;


  //appearance: none;
  //border: none;

  width: 100%;
  height: 20px;


  background-color: #eee;
  border-radius: 3px;



}




table tr th{
  //padding-top: 30px;
  border-bottom: 2px solid rgba(200,200,200,0.3);
  background-color: rgba(200,200,200,0.2);
}


code {
  font-family: monospace;
  white-space: pre;
}