/**
 * @author Towns.cz
 * @fileOverview Style for Towns Messages
 */
//======================================================================================================================
@import 'config';
@import 'mixins';

#message-zone {

  z-index:4000;
  display: block;
  position: fixed;
  top: 70px;
  left: 0px;
  right: 0px;
  height: 20px;
  width: 100%;

  text-align: center;

}


.message {

  display: inline-block;
  border-radius: 3px;
  //background-color: #ff0000;
  padding: 4px;
  margin: 4px;


  max-width: 500px;

}




.error {
  color: #fff;
  background-color: #FF0000;
}


.success {
  color: #fff;
  background-color: #64c74e;
}

.info {
  color: #fff;
  background-color: #444488;
}

.warning {
  color: #000;
  background-color: #ffcc1b;
}

.loading {/*todo jak tohle nazyvat*/
  color: #fff;
  background-color: #444444;
}

.messagebox {


  text-align: center;
  display: block;
  width: 100%;
  padding: 6px;
  margin: 4px;

  border-radius: 3px;

  //font-weight: bold;


}
