/**
 * @author Towns.cz
 * @fileOverview Style for Towns Messages
 */
//======================================================================================================================
@import 'config';
@import 'mixins';

#message-zone {

  z-index:4000;
  display: block;
  position: fixed;
  top: 70px;
  left: 0px;
  right: 0px;
  height: 20px;
  width: 100%;

  text-align: center;

}


.message {

  display: inline-block;
  border-radius: 3px;
  //background-color: #ff0000;
  padding: 4px;
  margin: 4px;



}


//todo as message
#eu-cookies .inner {

  display: inline-block;
  border-radius: 3px;
  background-color: rgba(30,150,150,0.8);
  padding: 4px;

}


//todo as message
#townsapi-offline .inner {

  display: inline-block;
  border-radius: 3px;
  background-color: rgba(255, 150, 43, 0.8);
  padding: 4px;

}

//todo as message
#compatibility .inner {

  display: inline-block;
  border-radius: 3px;
  background-color: rgba(255, 82, 42, 0.8);
  padding: 4px;

}






.error {
  color: #FFFFFF;
  background-color: #FF0000;
}


.success {
  color: #FFFFFF;
  background-color: #64c74e;
}

.info {
  color: #FFFFFF;
  background-color: #444488;
}

.loading {/*todo jak tohle nazyvat*/
  color: #FFFFFF;
  background-color: #444444;
}

.messagebox {


  text-align: center;
  display: block;
  width: 100%;
  padding: 6px;
  margin: 4px;

  border-radius: 3px;

  //font-weight: bold;


}
