/**
 * @author Towns.cz
 * @fileOverview Style for Towns Messages
 */
//======================================================================================================================
@import 'config';
@import 'mixins';

#message-zone {

  z-index:4000;
  display: block;
  position: fixed;
  top: 70px;
  left: 0px;
  right: 0px;
  height: 20px;
  width: 100%;

  text-align: center;

}


#message_inner {

  display: inline-block;
  border-radius: 3px;
  background-color: #ff0000;
  padding: 4px;

}


#eu-cookies .inner {

  display: inline-block;
  border-radius: 3px;
  background-color: rgba(30,150,150,0.8);
  padding: 4px;

}


#townsapi-offline .inner {

  display: inline-block;
  border-radius: 3px;
  background-color: rgba(255, 150, 43, 0.8);
  padding: 4px;

}


#compatibility .inner {

  display: inline-block;
  border-radius: 3px;
  background-color: rgba(255, 82, 42, 0.8);
  padding: 4px;

}



#loadbar .inner {

  display: inline-block;
  border-radius: 3px;
  background-color: rgba(85, 150, 35, 0.8);
  padding: 4px;

}






.error {
  color: #FFFFFF;
  background-color: #FF0000;
}


.success {
  color: #FFFFFF;
  background-color:  #228855;
}

.info {
  color: #FFFFFF;
  background-color: #444488;
}

.loading {/*todo jak tohle nazyvat*/
  color: #FFFFFF;
  background-color: #444444;
}

.error, .success, .info, .loading {

  text-align: center;
  display: block;
  width: 100%;
  padding: 6px;

  font-weight: bold;


}
