/**
 * @author Towns.cz
 * @fileOverview Style for window popup
 */
//======================================================================================================================
@import 'config';
@import 'mixins';

#editor-object-header{
  display: block;
  width: 100%;
  text-align: left;

  //border: 2px solid #ffcccc;

  .mini-button{

    @include mini-button(15px,$mini-button-color-light);

  }

}


#editor-object-name{
    display: inline-block;
    overflow: hidden;
    width: calc(100% - 0px);
    height: 30px;
    font-size: 1.6em;
    border: /*2px solid #cccccc*/none;
    border-bottom: 2px solid #cccccc;
    z-index: 3;
}


#editor-object-delete, #editor-object-duplicate{


  position: relative;
  top: -50px;
  left: 675px;



}
