/.env


*desktop.ini

/nbproject
/.idea


 *(copy)*
*.old.*


*.mo
*.pot


npm-debug.log
/node_modules/
/app/css-lib/
/app/js-lib/
/app/fonts/



#todo is it needed? /app/scss/*.scss
/messages



/cache/*
!/cache/.gitkeep

/backup
/admin
/userdata


/app/test/*

/app-build/
documentation
asd.*


/towns-shared
/towns-shared/*


/config/app.json