
Options -Indexes
Options +FollowSymLinks


<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>


<Files ".htaccess|README.md">
    Order Allow,Deny
    Deny from all
</Files>



<IfModule mod_rewrite.c>

    RewriteEngine On
    # zakaz prehliadat nasledujuci adresar
    RewriteRule ^config($|/) - [L,NC,R=404]




    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L,QSA]


</IfModule>