/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
hr {
  color: #777777;
  background-color: #777777;
  height: 1px; }

/*
input, textarea {
    -moz-user-select: text;
}
*/
button {
  display: inline-block;
  border: none;
  display: block;
  padding: 0 10px;
  margin: 10px auto;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #0098ff;
  color: white;
  cursor: pointer; }
  button:hover {
    background-color: black; }

.button-icon {
  border: none;
  display: inline-block;
  margin: 2px;
  padding: 10px;
  font-weight: 600;
  width: 26px;
  height: 26px;
  font-size: 21px;
  border: 2px solid rgba(68, 68, 68, 0.5);
  border-radius: 3px;
  text-shadow: #000011;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer; }
  .button-icon:hover {
    background-color: rgba(0, 0, 0, 0.65); }

table tr th {
  border-bottom: 2px solid rgba(200, 200, 200, 0.3);
  background-color: rgba(200, 200, 200, 0.2); }

code {
  font-family: monospace;
  white-space: pre; }
