/**
 * @author Towns.cz
 * @fileOverview Style for help popup
 todo refactor rename to menu left help
 */
/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
#popup-action {
  z-index: 7000;
  display: none;
  position: absolute;
  top: 0;
  left: 65px;
  width: 310px; }

#popup-action .arrow {
  float: left;
  margin-top: 20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  /*border-right: 10px solid rgba(0,0,0,0.85);*/
  border-right: 10px solid rgba(255, 255, 255, 0.85); }

#popup-action .content {
  float: left;
  /*background-color: black;*/
  /*background-color: rgba(0,0,0,0.85);*/
  /*color: lightgray;*/
  background-color: white;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  border-radius: 3px;
  width: 300px;
  height: 200px; }

#popup-action .content h2,
#popup-action .content p,
#popup-action .content button {
  text-align: center;
  padding: 10px;
  margin: 0; }

#popup-action .content h2 {
  font-size: 20px;
  height: 20px;
  line-height: 20px; }

#popup-action .content button {
  display: inline-block;
  border: none;
  display: block;
  padding: 0 7.5px;
  margin: 7.5px auto;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #0098ff;
  color: white;
  cursor: pointer;
  display: inline-block;
  width: 40%;
  margin: 5px; }
  #popup-action .content button:hover {
    background-color: black; }

#popup-action .close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  width: 20px;
  cursor: pointer; }

/* OVERLAY -----------------------------------------------------------------------------------------------------------*/
.overlay {
  z-index: 6000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7); }
