/**
 * @author Towns.cz
 * @fileOverview XML feed in project-style
 */
//======================================================================================================================
@import '../config';
@import '../mixins';




.form-big{

  width:100%;

  text-align: center;

  //font-size: 1.1em;

  //border: 2px solid #cc0000;

}


.form-big table{

  display: inline-block;

  /*margin-left: auto;
  margin-right: auto;*/


  width:auto;
  /*max-width:100%;*/
  text-align: left;

  //border: 2px solid #3eadcc;


}


.form-big table tr td{

  //border: 2px solid #00ff00;


}


.form-big input{

  display: inline-block;

  width:200px;
  /*max-width:100%;*/

  font-size: 1.3em;

  border: 2px solid #cccccc;



}





.form-big input[type="submit"],button{

  width:auto;
  font-size: 1em;
  border: none;

  display: block;
  margin-left: auto;
  margin-right: auto;

}



.form-big input,textarea{

  display: inline-block;

  /*width:300px;
  max-width:100%;*/

  border: 2px solid #cccccc;

  resize: none;


}




.big-component {//todo better
  font-size: 1.3em;

}
.form-big-component {//todo better

  display: inline-block;

  width:200px;
  /*max-width:100%;*/

  font-size: 1.3em;

  border: 2px solid #cccccc;

}