

page_title: Towns
page_description: "TOWNS je nový typ strategické online hry založené na vytváření vlastního města. Zažijte zbrusu novou atmosféru stavění města na různých terénech v doprovodu s elegantní grafikou. Bojujte a domlouvejte se se spoluhráči, získávejte suroviny, stavějte a dokonce si vytvářejte vlastní budovy!"
ui_prompts_cookies: Tento web využívá cookies a LocalStorage. Používáním tohoto webu s tím souhlasíte.

ui_logo: Towns logo


ui_buttons_agree: Souhlasím
ui_tool_controls_plus: Zvětšit
ui_tool_controls_minus: Zmenšit
ui_tool_controls_left: Otočit doleva
ui_tool_controls_right: Otočit doprava
ui_tool_controls_color: Barvy
ui_tool_controls_close: Zavřít




ui_menu_nature: Příroda
ui_menu_nature_types: Typy
ui_menu_nature_neutralize: Původní stav

ui_menu_buildings: Budovy
ui_menu_buildings_main: Základni
ui_menu_buildings_wall: Hradby
ui_menu_buildings_path: Cesty
ui_menu_buildings_block: Bloky
ui_menu_buildings_dismantle: Zbourat

ui_menu_stories: Příběhy
ui_menu_stories_write: Napsat příběh

ui_menu_develop: Vývojář
ui_menu_develop_info: 'Tyto funkce jsou vývojářské nástroje, které nebudou moct běžní hráči využívat.'
ui_menu_develop_screenshot: Screenshot
ui_menu_develop_locale_write: Lokalizace
ui_menu_develop_window: Do nového okna

ui_buttons_about_game: O hře
ui_buttons_register: Začít hrát
ui_buttons_login: Přihlásit se

ui_user_logout: Odhlásit se

ui_menu_top_popup_notifications_footer: Všetky notifikácie
ui_menu_top_popup_user_footer: Přihlášený hráč



story_editor: Editor příběhů
towns_logo: logo



ui_map_controls_plus: Přiblížit
ui_map_controls_minus: Oddálit
ui_map_controls_left: Otočit doleva
ui_map_controls_right: Otočit doprava




ui_macros_create_building: Vytvořit budovu
ui_macros_create_building_block: Vytvořit blok





ui_server: Načítání ze serveru




home_info: "Vytváříme kreativní hru, kde si můžeš vyrobit naprosto cokoliv od vzhledu jednotlivých budov až po celé státy a impéria, také můžeš psát příběhy a tím tvořit její historii."
home_info_subtitle: "Tato aplikace je pouze malá ukázka toho, co máme rozpracované.<br>Až budeme mít hotovo můžeme ti poslat email:"
loading: Načítání...
home_subscribe_success: "Děkujeme, až bude hra připravena pošleme ti mail."
home_subscribe_error: "Něco se nezdařilo, buď máme chybu na serveru nebo jsi zadal chybný mail, každopádně nás můžeš sledovat přes"
form_mail: E-mail
form_your_name: Tvé jméno
form_send: Odeslat
#home_subscribe: Nebo se můžeš přihlásit k odběru novinek přes
#home_news_from_game: "Podívej se na nejnovější novinky z vývoje hry:"
#projects: "Podívej se, na čem právě pracujeme:"
#projects_subtitle: "Káždý projekt si můžeš rozkliknout a napsat nám svůj názor, za který budeme moc rádi:"




#plugin_building_viewer_open_building_block_view: Zobrazit blok
#plugin_profile_viewer_open_building_block_view: Profil bloku
#building_block_view_description: "Vyber, jakým způsobem chceš blok zobrazit:"
#plugin_building_block_editor_open_building_block_edit: Upravit blok
#building_block_edit_description: "Vyber, jakým způsobem chceš blok upravit:"
#building_block_clone: Klonovat
#building_block_dismantle: Rozebrat
#building_block_clone_description: none
#building_block_dismantle_description: none
#building_block_view: Zobrazit
#building_block_edit: Upravit







block_delete: Smazat blok
block_duplicate: Duplikovat blok
block_name_placeholder: Jméno bloku
block_shape: Tvar
block_shape_n: Počet stran podstav
block_shape_top: Velikost horní podstavy
block_shape_bottom: Velikost dolní podstavy
block_skew: Zkosení
block_skew_z_x: X
block_skew_z_y: Y
block_size: Velikost
block_size_x: X
block_size_y: Y
block_size_z: Z
block_rotation: Otočení
block_rotation_xy: XY
block_rotation_xz: XZ









#---------------------------NEW








page_register: Nový Hráč
user_basic: Základní
user_username: Jméno
user_username_placeholder: " "
user_password: Heslo
user_password_again: "Heslo ještě jednou"
user_email: E-mail
user_email_placeholder: jan.novak@seznam.cz
user_extended: Další
user_name: Jméno
user_surname: Příjmení
user_birthday: Datum narození
user_description: Popis
user_register: Zaregistrovat





resource_wood: Dřevo
resource_clay: Hlína
resource_stone: Kámen
resource_iron: Železo



ui_warnings_offline: Nastala chyba při připojování k serveru
ui_buttons_reconnect: Zkusit znovu
ui_buttons_reconnecting: Připojování
ui_buttons_offline: Informace
page_offline: Chyba serveru






#todo move
logged_in_as: Přihlášen jako
page_login: Přihlásit se
ui_menu_nature_main: Základní






page_feedback: Zpětná vazba
send: Odeslat
feedback_success: Děkujeme za zpětnou vazbu.





plugin_building_viewer_open_building_main_view: Náhled
plugin_profile_viewer_open_building_main_view: Profil
plugin_building_editor_open_building_main_edit: Editor
plugin_json_viewer_open_building_main_view: JSON

plugin_building_viewer_open_building_wall_view: Náhled
plugin_profile_viewer_open_building_wall_view: Profil
plugin_building_editor_open_building_wall_edit: Editor
plugin_json_viewer_open_building_wall_view: JSON

plugin_building_viewer_open_building_path_view: Náhled
plugin_profile_viewer_open_building_path_view: Profil
plugin_building_editor_open_building_path_edit: Editor
plugin_json_viewer_open_building_path_view: JSON

plugin_building_viewer_open_building_block_view: Náhled
plugin_profile_viewer_open_building_block_view: Profil
plugin_building_editor_open_building_block_edit: Editor
plugin_json_viewer_open_building_block_view: JSON



ui_warnings_compatibility: "Váš prohlížeč bohužel nepodporuje vše, co Towns ke svému běhu vyžadují."
ui_buttons_compatibility: Informace
page_compatibility: Podpora prohlížeče
compatibility_webgl: 3D grafika WebGL
compatibility_requestAnimationFrame: Animace
compatibility_localStorage: LocalStorage
compatibility_webgl_help: "Prohlížeč nepodporuje 3D grafiku WebGL. Pokud máte prohlížeč Firefox ve většině případů stačí <a href=\"https://support.mozilla.org/kb/refresh-firefox-reset-add-ons-and-settings\" target=\"_blank\">Obnovit Firefox</a>."





upload_progress: Nahrávání obrázků na server
upload_fail: "Omlouváme se, ale obrázky se nepodařilo nahrát."
upload_success_story: Z vašich obrázků byl vytvořen příběh!
upload_error_max_requestsize: "Celkově nesmí mít obrázky více než "
upload_error_max_filesize: "Obrázek nesmí být větší než "
upload_error_only_images: Na mapu lze zatím nahrát pouze obrázky.




story_edit: Upravit příběh
story_delete: Smazat příběh
story_delete_prompt: Opravdu chceš smazat příběh?
story_delete_success: Příběh smazán
object_story_saved: Příběh uložen
building_by_dragging_wall_info: Hradby můžeš stavět tažením na mapě.
building_by_dragging_path_info: Cesty můžeš stavět tažením na mapě.

#todo wildcard in neon
building_wall_view: Zobrazit
building_wall_view_description: "Máš několik možností, jak budovu zobrazit:"
building_wall_edit: Přestavět
building_wall_edit_description: "Budovu můžeš přestavět pomocí:"
building_wall_clone: Klonovat
building_wall_clone_description: Postavit stejnou budovu někde jinde.
building_wall_dismantle: Rozebrat
building_wall_dismantle_description: "Po rozebrání dostaneš zpět část surovin, za které jsi budovu postavil."














news_type_video: Video
news_type_wiki: Wiki
news_type_story: Příběh ve hře
story_hint: Kliknutím na mapu vytvoříš příběh.
page_404_title: Nenalezeno
page_404_content: "Odkaz byl přesunut, smazán nebo neexistuje."
home_news_info: Co je nového?
ui_menu_develop_deleting: ui_menu_develop_deleting
page_deleting: Mazání příběhů
logout_confirm: Opravdu se chceš odhlásit?
user_username_taken: Uživatelské jméno je bohužel obsazené.
auth_wrong: Zadal jsi špatné přihlašovací údaje.
shape_cube: Krychle
user_login: Přihlásit se
upload_only_logged: Nahrávat příběhy na mapu mohou pouze přihlášení uživatelé.
user_password_again_notsame: Hesla která jsi zadal nejsou stejná.
user_username_missing: Zadej prosím uživatelské jméno.
user_email_wrong: Zadej prosím platný email.
user_password_missing: Zedej prosím heslo.
user_update: Aktualizovat
ui_user_settings: Nastavení
page_user_settings: Nastavení
user_signature: Podpis
object_terrain_4: Písek
object_terrain_2: Dlažba
object_terrain_1: Moře
object_terrain_3: Led
object_terrain_6: Hlína
object_terrain_5: Kamení
object_terrain_9: Jarní tráva
object_terrain_8: Letní tráva
object_terrain_11: Jezero
object_terrain_7: Sníh
object_terrain_10: Les
object_terrain_13: Podzimní tráva
object_terrain_12: Tráva
object_show_on_map: Zobrazit na mapě
object_edit: Upravit
object_delete: Smazat
story_delete_confirm: Opravdu chceš smazat tento příběh?
page: page
loading_of_graphic: Načítání grafických podkladů
ui_map_controls_move: ui_map_controls_move
ui_map_controls_rotate: ui_map_controls_rotate
ui_map_controls_select: ui_map_controls_select