/**
 * @author Towns.cz
 * @fileOverview XML feed in project-style
 */
/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
.model-canvas {
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
  background-color: rgba(78, 139, 255, 0.05); }

.model-canvas-ctl .mini-button {
  border: none;
  display: inline-block;
  margin: 2px;
  padding: 10px;
  font-weight: 600;
  width: 15px;
  height: 15px;
  font-size: 12.11538px;
  border: 2px solid rgba(170, 170, 170, 0.5);
  border-radius: 3px;
  text-shadow: #000011;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(204, 204, 204, 0.5);
  color: #333333;
  cursor: pointer; }
  .model-canvas-ctl .mini-button:hover {
    background-color: rgba(204, 204, 204, 0.65); }
