/**
 * @author Towns.cz
 * @fileOverview News in home page
 */
/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
.news {
  text-align: center; }
  .news ul li {
    display: inline-block;
    width: calc(25% - 10px);
    /*height: 100px;*/
    text-align: center;
    vertical-align: top;
    margin-bottom: 10px;
    /*border: 1px solid #f00;*/ }
    .news ul li a {
      text-decoration: none;
      color: #000; }
    .news ul li img {
      width: 100px;
      height: 100px;
      border-radius: 100px !important; }
    .news ul li .title {
      margin: 0;
      font-size: 1.1em; }
    .news ul li .type {
      margin: 0;
      font-size: 0.9em;
      color: #444; }
      .news ul li .type i {
        margin-left: 5px; }
    .news ul li .date {
      margin: 0;
      font-size: 0.9em;
      color: #44f; }
