/**
 * @author Towns.cz
 * @fileOverview Resources toHTML
 */
/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
/**
 * @author Towns.cz
 * @fileOverview Default styling of HTML components
 */
/**
 * @author Towns.cz
 * @fileOverview Configuration of style
 */
.textures-input {
  padding: 0px;
  margin: 4px;
  text-align: center; }

.textures-input label img {
  width: 31px;
  height: 31px;
  border: 2px solid #eee; }

.textures-input label {
  display: inline-block; }

.textures-input input[type="radio"] {
  display: none; }

input[type="radio"]:checked + label img {
  border: 2px solid #00152b;
  box-shadow: #e3a45a 0px 0px 5px; }
